<%= form_for :user, url: update_user_password_path, :html=>{:method=>'patch'} do |f|%>
  <p>
    <%= f.label "Введите новый пароль:" %><br>
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label "Повторите пароль:" %><br>
    <%= f.password_field :password_confirmation %>
  </p>
  <p>
    <%= link_to "Отменить", :back, :class=>" btn btn-default" %> &nbsp; &nbsp;
    <%= f.submit :value=>"Изменить пароль", :class=>"btn btn-success"%>
  </p>

<% end %>
