<% content_for :title, "Создание нового пользователя"%>
<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <%= pluralize(@user.errors.count, "Error")%>:
      <ul>
      <% @user.errors.full_messages.each do |msg| %> 
        <li><%=msg%></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= f.label "E-mail:"%><br>
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label "Пароль:"%><br>
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label "Подтверждение пароля:"%><br>
    <%= f.password_field :password_confirmation %>
  </p>
  <%= render :partial=>'form.html.erb', :locals=>{:user=>@user} %>
  <p>
    <%= link_to "Отменить", :back, :class=>" btn btn-default" %> &nbsp; &nbsp;
    <%= f.submit :value=>"Создать", :class=>"btn btn-success"%>
  </p>
<% end %>
